In [1]:
import pandas as pd

In [62]:
pokemon = pd.read_csv("pokemon_data.csv")
pd.options.display.max_rows=7

# Sorting

In [30]:
#sort the rows base on two columns,Type 1 is ascending and HP is descending
pokemon.sort_values(['Type 1','HP'],ascending=[1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

# Making changes to dataframe

In [31]:
# sum up HP	Attack	Defense	Sp. Atk	Sp. Def	Speed columns to creat a total stats column
pokemon['Total']=pokemon['HP']+pokemon['Attack']+pokemon['Defense']+pokemon['Sp. Atk']+pokemon['Sp. Def']+pokemon['Speed']
pokemon.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [32]:
# drop this added column first
pokemon.drop(columns=['Total'],inplace=True)
#add it back in another way
# iloc("index location") requires rows and cols input, loc uses condition input
pokemon['Total']=pokemon.iloc[:,4:10].sum(axis=1)
pokemon.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [33]:
# one way to reorder the columns
cols=list(pokemon.columns.values)
pokemon=pokemon[cols[0:4]+[cols[-1]]+cols[4:12]]
pokemon.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

# Filtering Data

In [38]:
# if applying two conditions with "and" or "or" relationship
# instead of using the python style just type 'and' or 'or'
# in Pandas we need to use '&' and '|'
# and note, each condition has to be surronded by parenthesis 
grass_poison_pokemon=pokemon.loc[(pokemon["Type 1"]=="Grass")&(pokemon["Type 2"]=="Poison")]

# the above manipulation will filter out the rows you want but keep their old index
# to get è¿žç»­çš„ index you do the following
grass_poison_pokemon.reset_index(drop=True,inplace=True)
grass_poison_pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12,407,Roserade,Grass,Poison,515,60,70,65,125,105,90,4,False
13,590,Foongus,Grass,Poison,294,69,55,45,55,55,15,5,False
14,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False

In [35]:
# to filter rows whose one column contains some sepecific words
pokemon.loc[pokemon['Name'].str.contains("Mega")]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
527,475,GalladeMega Gallade,Psychic,Fighting,618,68,165,95,65,115,110,4,False
591,531,AudinoMega Audino,Normal,Fairy,545,103,60,126,80,126,50,5,False
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True

In [36]:
# and if you want rows whose one column DOESNOT contains some sepecific words
pokemon.loc[~pokemon['Name'].str.contains("Mega")]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [41]:
# use regular expression to do the contains function
import re
# example 1
# flags=re.I means ignore cases
pokemon.loc[pokemon['Type 1'].str.contains('fire|grass',flags=re.I,regex=True)]
# example 2
# in regular expression ^ means start with,[a-z]* means followed by zero or more lower case letters
# so this means to filter all the names that starts with 'pi'
pokemon.loc[pokemon['Name'].str.contains('^pi[a-z]*',flags=re.I,regex=True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False

# Modifying dataframe with filtering conditions

In [49]:
# for all the rows with Type 1 column as 'Fire', change "Fire" to "Flamer"
pokemon.loc[pokemon['Type 1']=='Fire','Type 1']="Flamer"
pokemon.loc[pokemon['Type 1']=='Flamer','Type 1']="Fire"
# for all the rows with Type 1 column as 'Fire', mark them as Legendary
pokemon.loc[pokemon['Type 1']=='Fire','Legendary']=True
pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [51]:
# you can also modify more than one column by passing in a list 
pokemon.loc[pokemon['Type 1']=='Fire',['Legendary','Generation']]=['Test 1','Test 2']
pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,Test 2,Test 1

In [52]:
# just to reload the data since we messed it up just before
pokemon = pd.read_csv("pokemon_data.csv")

# GroupBy in Pandas

In [66]:
# group by Type 1 and take each group's mean
pokemon.groupby('Type 1').mean()
# you can also do .sum() .count()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,count
Type 1,,,,,,,,,,
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000,1.0
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516,1.0
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000,1.0
...,...,...,...,...,...,...,...,...,...,...
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909,1.0
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148,1.0
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714,1.0

In [65]:
# groupby and take the mean and sort by defense
pokemon.groupby('Type 1').mean().sort_values('Defense',ascending=False)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,count
Type 1,,,,,,,,,,
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148,1.0
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909,1.0
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000,1.0
...,...,...,...,...,...,...,...,...,...,...
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000,1.0
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824,1.0
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408,1.0

In [64]:
# if you want to do a really neat count without worrying about null values
# here we are doing a group by two cols
pokemon['count']=1
pokemon.groupby(['Type 1','Type 2']).count()['count']

Type 1  Type 2
Bug     Electric    2
        Fighting    2
        Fire        2
                   ..
Water   Psychic     5
        Rock        4
        Steel       1
Name: count, Length: 136, dtype: int64